################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TCS_TechnicalTestNew/v17
/TCSTest
